
<h2>Soy la pagina de inicio</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis placeat, tenetur voluptatum consequatur voluptates molestias adipisci sapiente ipsum, cumque nihil consectetur perspiciatis iusto laboriosam pariatur soluta alias neque fugit blanditiis.</p>